.vs/
.vscode/
.idea/
.claude/
.claude/settings.local.json
.serena/

*.sln.docstates
*.user
*.suo
*.code-workspace

.DS_Store
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

bin/
obj/
# ignore ci node files
node_modules/
package.json
package-lock.json
!build/scripts/package.json
!build/scripts/package-lock.json


build/resources/*
!build/resources/_common/
!build/resources/app/
!build/resources/appimage/
!build/resources/deb/
!build/resources/flatpak/
!build/resources/rpm/
build/Komorebi/
build/Komorebi.app/
build/*.zip
build/*.tar.gz
build/*.deb
build/*.rpm
build/*.AppImage
Komorebi.app/
build.command
src/Properties/launchSettings.json
__pycache__/
.dotnet/
